@font-face {
    font-family: 'MarkPro';
    src: local('MarkPro'),
        url('MarkPro.woff2') format('woff2'),
        url('MarkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: local('MarkPro-Bold'),
        url('MarkPro-Bold.woff2') format('woff2'),
        url('MarkPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

